In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
reservoir=pd.read_csv("chennai_reservoir_levels.csv",parse_dates=['Date'])
rainfall=pd.read_csv("chennai_reservoir_rainfall.csv",parse_dates=['Date'])
rainfall.set_index('Date',inplace=True)
reservoir.set_index('Date',inplace=True)
print(reservoir)
print(rainfall)

            POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
Date
2004-01-01     3.9         0.0     268.0              0.0
2004-02-01     3.9         0.0     268.0              0.0
2004-03-01     3.9         0.0     267.0              0.0
2004-04-01     3.9         0.0     267.0              0.0
2004-05-01     3.8         0.0     267.0              0.0
2004-06-01     3.8         0.0     266.0              0.0
2004-07-01     3.8         0.0     266.0              0.0
2004-08-01     3.7         0.0     265.0              0.0
2004-09-01     3.7         0.0     264.0              0.0
2004-10-01     3.7         0.0     264.0              0.0
2004-11-01     3.6         0.0     263.0              0.0
2004-12-01     3.6         0.0     262.0              0.0
2004-01-13     3.6         0.0     261.0              0.0
2004-01-14     3.5         0.0     260.0              0.0
2004-01-15     3.5         0.0     259.0              0.0
2004-01-16     3.4         0.0     258.0              0.0
2004-01-17     3.4         0.0     256.0              0.0
2004-01-18     3.4         0.0     254.0              0.0
2004-01-19     3.4         0.0     252.0              0.0
2004-01-20     3.4         0.0     250.0              0.0
2004-01-21     3.3         0.0     247.0              0.0
2004-01-22     3.3         0.0     244.0              0.0
2004-01-23     3.3         0.0     242.0              0.0
2004-01-24     3.3         0.0     239.0              0.0
2004-01-25     3.2         0.0     237.0              0.0
2004-01-26     3.2         0.0     234.0              0.0
2004-01-27     3.9         0.0     232.0              0.0
2004-01-28     4.9         0.0     230.0              0.0
2004-01-29     4.9         0.0     227.0              0.0
2004-01-30     4.9         0.0     225.0              0.0
...            ...         ...       ...              ...
2019-05-19   114.0         4.0      25.0              1.0
2019-05-20   109.0         3.0      22.0              1.0
2019-05-21   104.0         3.0      19.0              1.0
2019-05-22   100.0         3.0      16.0              1.0
2019-05-23    95.0         3.0      13.0              1.0
2019-05-24    90.0         3.0      10.0              1.0
2019-05-25    85.0         2.0       9.0              1.0
2019-05-26    82.0         2.0       8.0              1.0
2019-05-27    79.0         2.0       7.0              1.0
2019-05-28    74.0         2.0       6.0              1.0
2019-05-29    69.0         2.0       4.0              1.0
2019-05-30    64.0         2.0       3.0              1.0
2019-05-31    59.0         2.0       3.0              1.0
2019-01-06    56.0         1.0       3.0              1.0
2019-02-06    53.0         1.0       3.0              1.0
2019-03-06    50.0         1.0       3.0              1.0
2019-04-06    48.0         1.0       2.0              1.0
2019-05-06    46.0         1.0       2.0              1.0
2019-06-06    44.0         1.0       2.0              1.0
2019-07-06    42.0         1.0       2.0              1.0
2019-08-06    40.0         1.0       2.0              1.0
2019-09-06    38.0         1.0       2.0              1.0
2019-10-06    36.0         0.0       1.0              1.0
2019-11-06    34.0         0.0       1.0              1.0
2019-12-06    32.0         0.0       1.0              1.0
2019-06-13    30.0         0.0       0.0              1.0
2019-06-14    28.0         0.0       0.0              1.0
2019-06-15    27.0         0.0       0.0              1.0
2019-06-16    26.0         0.0       0.0              1.0
2019-06-17    25.0         0.0       0.0              1.0

[5647 rows x 4 columns]
            POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
Date
2004-01-01     0.0         0.0       0.0              0.0
2004-02-01     0.0         0.0       0.0              0.0
2004-03-01     0.0         0.0       0.0              0.0
2004-04-01     0.0         0.0       0.0              0.0
2004-05-01     0.0         0.0       0.0              0.0
2004-06-01     0.0         0.0       0.0              0.0
2004-07-01     0.0         0.0       0.0              0.0
2004-08-01     0.0         0.0       0.0              0.0
2004-09-01     0.0         0.0       0.0              0.0
2004-10-01     0.0         0.0       0.0              0.0
2004-11-01     0.0         0.0       0.0              0.0
2004-12-01     0.0         0.0       0.0              0.0
2004-01-13     0.0         0.0       0.0              0.0
2004-01-14     0.0         0.0       0.0              0.0
2004-01-15     0.0         0.0       0.0              0.0
2004-01-16     0.0         0.0       0.0              0.0
2004-01-17     0.0         0.0       0.0              0.0
2004-01-18     0.0         0.0       0.0              0.0
2004-01-19     0.0         0.0       0.0              0.0
2004-01-20     0.0         0.0       0.0              0.0
2004-01-21     0.0         0.0       0.0              0.0
2004-01-22     0.0         0.0       0.0              0.0
2004-01-23     0.0         0.0       0.0              0.0
2004-01-24     0.0         0.0       0.0              0.0
2004-01-25     0.0         0.0       0.0              0.0
2004-01-26     0.0         0.0       0.0              0.0
2004-01-27    31.0         3.0       2.0              3.0
2004-01-28    33.0         4.0      17.0             18.0
2004-01-29     0.0         0.0       0.0              0.0
2004-01-30     0.0         0.0       0.0              0.0
...            ...         ...       ...              ...
2019-05-19     0.0         0.0       0.0              0.0
2019-05-20     0.0         0.0       0.0              0.0
2019-05-21     0.0         0.0       0.0              0.0
2019-05-22     0.0         0.0       0.0              0.0
2019-05-23     0.0         0.0       0.0              0.0
2019-05-24     0.0         0.0       0.0              0.0
2019-05-25     0.0         0.0       0.0              0.0
2019-05-26     0.0         0.0       0.0              0.0
2019-05-27     0.0         0.0       0.0              0.0
2019-05-28     0.0         0.0       0.0              0.0
2019-05-29     0.0         0.0       0.0              0.0
2019-05-30     0.0         0.0       0.0              0.0
2019-05-31     0.0         0.0       0.0              0.0
2019-01-06     0.0         0.0       0.0              0.0
2019-02-06     0.0         0.0       0.0              0.0
2019-03-06     0.0         0.0       0.0              0.0
2019-04-06     0.0         0.0       0.0              0.0
2019-05-06     0.0         0.0       0.0              0.0
2019-06-06     0.0         0.0       0.0              0.0
2019-07-06     0.0         0.0       0.0              0.0
2019-08-06     0.0         0.0       0.0              0.0
2019-09-06     0.0         0.0       0.0              0.0
2019-10-06     0.0         0.0       0.0              0.0
2019-11-06     0.0         0.0       0.0              0.0
2019-12-06     0.0         0.0       0.0              0.0
2019-06-13     0.0         0.0       0.0              0.0
2019-06-14     0.0         0.0       0.0              0.0
2019-06-15     0.0         0.0       0.0              0.0
2019-06-16     0.0         0.0       0.0              0.0
2019-06-17     0.0         0.0       0.0              0.0

[5647 rows x 4 columns]

In [3]:
print("Highest water level in Poondi reservoir: ",reservoir['POONDI'].max())
print("Highest water level in Cholavaram reservoir: ",reservoir['CHOLAVARAM'].max())
print("Highest water level in Redhills reservoir: ",reservoir['REDHILLS'].max())
print("Highest water level in Chembarambakkam reservoir: ",reservoir['CHEMBARAMBAKKAM'].max())

Highest water level in Poondi reservoir:  3231.0
Highest water level in Cholavaram reservoir:  896.0
Highest water level in Redhills reservoir:  3300.0
Highest water level in Chembarambakkam reservoir:  3396.0

In [4]:
print("Lowest water level in Poondi reservoir: ",reservoir['POONDI'].min())
print("Lowest water level in Cholavaram reservoir: ",reservoir['CHOLAVARAM'].min())
print("Lowest water level in Redhills reservoir: ",reservoir['REDHILLS'].min())
print("Lowest water level in Chembarambakkam reservoir: ",reservoir['CHEMBARAMBAKKAM'].min())

Lowest water level in Poondi reservoir:  0.9
Lowest water level in Cholavaram reservoir:  0.0
Lowest water level in Redhills reservoir:  0.0
Lowest water level in Chembarambakkam reservoir:  0.0

In [5]:
print("Highest rainfall in Poondi reservoir: ",rainfall['POONDI'].max())
print("Highest rainfall in Cholavaram reservoir: ",rainfall['CHOLAVARAM'].max())
print("Highest rainfall in Redhills reservoir: ",rainfall['REDHILLS'].max())
print("Highest rainfall in Chembarambakkam reservoir: ",rainfall['CHEMBARAMBAKKAM'].max())

Highest rainfall in Poondi reservoir:  300.0
Highest rainfall in Cholavaram reservoir:  293.0
Highest rainfall in Redhills reservoir:  320.0
Highest rainfall in Chembarambakkam reservoir:  475.0

In [6]:
print("Lowest rainfall in Poondi reservoir: ",rainfall['POONDI'].min())
print("Lowest rainfall in Cholavaram reservoir: ",rainfall['CHOLAVARAM'].min())
print("Lowest rainfall in Redhills reservoir: ",rainfall['REDHILLS'].min())
print("Lowest rainfall in Chembarambakkam reservoir: ",rainfall['CHEMBARAMBAKKAM'].min())

Lowest rainfall in Poondi reservoir:  0.0
Lowest rainfall in Cholavaram reservoir:  0.0
Lowest rainfall in Redhills reservoir:  0.0
Lowest rainfall in Chembarambakkam reservoir:  0.0

In [7]:
reservoir.describe()

            POONDI   CHOLAVARAM     REDHILLS  CHEMBARAMBAKKAM
count  5647.000000  5647.000000  5647.000000      5647.000000
mean   1133.272203   240.020572  1568.345573      1321.381645
std    1026.009311   274.601731   890.363617       957.057834
min       0.900000     0.000000     0.000000         0.000000
25%     213.000000    22.300000   849.000000       471.500000
50%     782.000000    92.000000  1630.000000      1225.000000
75%    2006.000000   460.000000  2236.000000      2083.000000
max    3231.000000   896.000000  3300.000000      3396.000000

In [8]:
rainfall.describe()

            POONDI   CHOLAVARAM     REDHILLS  CHEMBARAMBAKKAM
count  5647.000000  5647.000000  5647.000000      5647.000000
mean      3.364486     3.617177     3.756862         3.923862
std      12.755029    14.078840    15.060551        16.287227
min       0.000000     0.000000     0.000000         0.000000
25%       0.000000     0.000000     0.000000         0.000000
50%       0.000000     0.000000     0.000000         0.000000
75%       0.000000     0.000000     0.000000         0.000000
max     300.000000   293.000000   320.000000       475.000000